{% extends 'base.html.twig' %}

{% block title %}
    Post - {{ app.user.username }}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
{% endblock %}

{%  block body %}

    <br>

    <a class="btn btn-info" href="#">Create post</a>

    {% if post %}
        {% for item in post %}
            <div class="row">
                <div class="col-lg-4 col-lg-push-4">
                    <h2>{{ item.titre }}</h2>
                    <img class="img-thumbnail" src="{{ asset(item.imgpath) }}">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-default" href="{{ path('deletePost', {post_id : item.id}) }}">Delete post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron" style="text-align:center;">
	        <p>No Post created</p>
        </div>
    {% endif %}
{%  endblock %}
